{% extends 'base.html' %}
{% block content %}
  <p>Apenas letras e espaços, sem caracteres especiais ou números.</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
  </form>

  {% if messages %}
  <div class="message">
    {% for message in messages %}
    <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
    {% endfor %}
  {% endif %}
{% endblock %}
